// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@import 'variables';

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i&display=swap');


body{
  font-family: 'Lato', sans-serif;  
}

.title{
  font-family: 'Press Start 2P', cursive;
}


#question-box{
  margin: 8em auto;
  h1{
    span{
      font-size: .5em;
    }
  }
  #answer{
    span{

    }
    input{
      border: none;
      border-bottom: 2px solid grey;
      height: 40px;
      outline: none;
      width: 100%;
      max-width: 200px;
      font-size: 24px;
      text-align: center;
    }
  }
}

#settings{
  .block{
    text-align: center;
    h2{
      margin-top: 5em;
    }
    > div{
      border: 2px solid black;
      display: inline-block;
      div{
        text-align: left
      }
    }
    h3{

    }
  }
}

#score{
  position: absolute;
  top: 30px;
  right: 30px;
}

#wrong{
  background: $warning;
  border: 2px solid $danger;
  margin-top: 2em;
  display: inline-block;
  padding: 1em 3em;
  > p{
    font-weight: 600;
    font-size: 2em;
  }
  table{
    tr{
      td{
        &:first-child{
          text-align: right;
          padding-right: .5em;
        }
      }
    }
  }
}